

<nav class="navbar navbar-expand-lg display-right navbar-light bg-dark" style="background-color:rgb(121, 121, 126) ;">
  <div class="container-fluid">
   <img src="http://2.bp.blogspot.com/-iROeYK7bqwI/VOdiURKeavI/AAAAAAAAI_s/3xrKz_hQcl0/s1600/logo-valentines.png" width="150px" height="100px">
  <button class="navbar-toggler m-2 bg-warning" type="button" data-bstoggle="collapse" data-bs-target="#navbarSupportedContent" ariacontrols="navbarSupportedContent" aria-expanded="false" arialabel="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
  <li class="nav-item">
  <a class="nav-link text-white p2 " routerLink="home" routerLinkActive="active">Home</a>
  </li>
 
  <li class="nav-item">
  <a class="nav-link text-white p-2 textright" routerLink="joinus" routerLinkActive="active">Join_us</a>
  </li>
<!--
  <li class="nav-item">
  <a class="nav-link text-white p2" routerLink="welcome" routerLinkActive="active">Login</a>
  </li>
  -->
  <li class="nav-item">
    <a class="nav-link text-white p2" routerLink="payment" routerLinkActive="active">Payment</a>
    </li>
  <!--<li class="nav-item">
      <a class="nav-link text-white p2" routerLink="shop" routerLinkActive="active">Shop</a>
  </li>-->
 <!--
  <li class="nav-item">
      <a class="nav-link text-white p2" routerLink="test" routerLinkActive="active">Users</a>
    </li>
    --> 
    <li class="nav-item">
      <a class="nav-link text-white p2" routerLink="movie" routerLinkActive="active">Movies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white p2" routerLink="contactus" routerLinkActive="active">Contact us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white p2" routerLink="feedback" routerLinkActive="active">Feedback</a>
      </li>

  </ul>
  </div>
  </div>
 </nav>
 <div class="container">
  <div><router-outlet></router-outlet></div>
 </div>
 

