<div class="row">
    <div class="column">
      <img id="img1" src="https://cdn-icons-png.flaticon.com/512/4019/4019919.png" alt="Snow" style="width:100%">
    </div>
    <div class="column">
      <img  id="img2" src="https://cdn-icons-png.flaticon.com/512/4019/4019787.png" alt="Forest" style="width:100%">
    </div>
    <div class="column">
      <img id="img1" src="https://cdn-icons-png.flaticon.com/512/4019/4019876.png" alt="Mountains" style="width:100%">
    </div>
    <div class="column">
        <img id="img2" src="https://cdn-icons-png.flaticon.com/512/4019/4019886.png" alt="Mountains" style="width:100%">
      </div>
  </div>